<article id="foo_bar-{{ foo_bar.id }}" class="{{ attributes.class }} clearfix"{{ attributes }}>

    <div class="foo-bar-uuid">
        {{ foo_bar.getUuid }}
    </div>

    {{ content }}
</article>